In [ ]:
#######
# Objective: Using the file 2010YumaAZ.csv, develop a Line Chart
# that plots seven days worth of temperature data on one graph.
# You can use a for loop to assign each day to its own trace.
######

In [1]:
# Perform imports here:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
# Create a pandas DataFrame from 2010YumaAZ.csv
df = pd.read_csv('../Data/2010YumaAZ.csv')
days = ['TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY','MONDAY']

df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [26]:
#df[df['DAY']=='TUESDAY']['LST_TIME']
#df.loc[df['DAY']==day, 'T_HR_AVG']

144    30.9
145    28.7
146    26.9
147    25.2
148    24.1
149    24.3
150    23.4
151    25.7
152    28.5
153    30.7
154    32.5
155    34.1
156    36.1
157    37.6
158    39.0
159    40.2
160    40.3
161    40.2
162    40.1
163    39.4
164    38.5
165    37.0
166    34.7
167    32.6
Name: T_HR_AVG, dtype: float64

In [15]:
# Use a for loop (or list comprehension to create traces for the data list)
data = []

for day in days:
    # What should go inside this Scatter call?
    trace = go.Scatter(x=df['LST_TIME'],
                       y=df[df['DAY']==day]['T_HR_AVG'], #== df.loc[df['DAY']==day, 'T_HR_AVG']
                       mode='lines',
                       name=day)
    data.append(trace)

In [18]:
# Define the layout
layout = go.Layout(title='Average temperature per day of the week')

In [19]:
# Create a fig from data and layout, and plot the fig
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'file:///home/ls283h/Work/Courses/Plotly-Dashboards-with-Dash/1-03E-LineChartExercises/temp-plot.html'